<!DOCTYPE html>
<html>

<body>
    <div class="contact contact-new">
        <div class="contact-menu">
            <a href="/search">Search</a>
        </div>
        <form class="contact-form" action="/create" method="post">
            <div>
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
                <input type="text" name="name" value="" size="10">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>
